<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fragnment</title>
</head>
<body>
  <!-- 18: 프래그먼트를 정의 -->
  <span th:fragment="one">하나</span>
  <span th:fragment="two">둘</span>
  <span th:fragment="three">셋</span>
  <!-- 18: 프래그먼트 사용하기 -->
  <h1>Fragment를 아래에 삽입하기</h1>
  <div id="one" th:insert="fragment :: one"></div>
  <div id="three" th:replace="fragment :: three"></div>
</body>
</html>